In [19]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv("FinancialBehavior.csv",
                index_col = 0)
data.shape

/home/luis/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(2488193, 42)

In [21]:
data = data.iloc[:1244096, :]
data.shape

(1244096, 42)

In [22]:
data = data.drop(["PROV_CUENTA"], axis = 1)
data = data.drop("PROV_TIPO_DOCUMENTO", axis = 1)
data = data.drop("PROV_NUM_DOCUMENTO",axis = 1)
data = data.drop("PROV_FEC_APER",axis = 1)

In [23]:
data.shape

(1244096, 38)

In [24]:
y = data[["ALTURA_MORA", "MORA_MAXIMA"]].copy()
X = data.drop(["ALTURA_MORA", "MORA_MAXIMA"], axis=1)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state = 0)
X = y = 0

In [26]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((870867, 36), (870867, 2), (373229, 36), (373229, 2))

In [27]:
from sklearn import tree

In [28]:
clf = tree.DecisionTreeRegressor()

In [29]:
clf.fit(X_train, y_train.iloc[:,:])

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [30]:
clf.score(X_test, y_test.iloc[:,:])

0.9980351320969565

In [31]:
X_test.iloc[0]

MES_1     0.0
MES_2     0.0
MES_3     0.0
MES_4     0.0
MES_5     0.0
MES_6     0.0
MES_7     0.0
MES_8     0.0
MES_9     0.0
MES_10    0.0
MES_11    0.0
MES_12    0.0
MES_13    0.0
MES_14    0.0
MES_15    0.0
MES_16    0.0
MES_17    0.0
MES_18    0.0
MES_19    0.0
MES_20    0.0
MES_21    0.0
MES_22    0.0
MES_23    0.0
MES_24    0.0
MES_25    0.0
MES_26    0.0
MES_27    0.0
MES_28    0.0
MES_29    0.0
MES_30    0.0
MES_31    0.0
MES_32    0.0
MES_33    0.0
MES_34    0.0
MES_35    0.0
MES_36    0.0
Name: 965114, dtype: float64

In [32]:
res = clf.predict([X_test.iloc[0]])
res

array([[0.07179724, 0.        ]])

In [33]:
y_test.iloc[0]

ALTURA_MORA    0.0
MORA_MAXIMA    0.0
Name: 965114, dtype: float64

In [34]:
X_test.head()

,MES_1,MES_2,MES_3,MES_4,MES_5,MES_6,MES_7,MES_8,MES_9,MES_10,...,MES_27,MES_28,MES_29,MES_30,MES_31,MES_32,MES_33,MES_34,MES_35,MES_36
965114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1050309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1115928,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
89355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
y_test.head()

         ALTURA_MORA  MORA_MAXIMA
965114           0.0          0.0
297816           0.0          0.0
1050309          0.0          0.0
1115928          0.0          1.0
89355            0.0         21.0

In [36]:
res = clf.predict([X_test.iloc[4]])
res

array([[ 0., 21.]])

In [38]:
y_test.iloc[4]

ALTURA_MORA     0.0
MORA_MAXIMA    21.0
Name: 89355, dtype: float64